<div class="navigation">
    <div class="ball">
        <img src="assets/football.png">
    </div>
    <a routerLink="/">
        <div>
            <span class="glyphicon glyphicon-home"></span> HOME
        </div>
    </a>
    <a routerLink="/play-team">
        <div>
            <span class="glyphicon glyphicon-play"></span> PLAY
        </div>
    </a>
    <a routerLink="/store">
        <div>
            <span class="glyphicon glyphicon-credit-card"></span> STORE
        </div>
    </a>
</div>